/* font-family: 'Lato', sans-serif; */
/* font-family: 'Italiana', serif; */

@import 'open-color.css';

html,
body {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Italiana', serif;
}

.intro {
  top: 0;
  background: var(--oc-gray-0);
  min-height: 55vh;
  padding-top: 45vh;
  /* width: 100%; */
  /* height: 100%; */
  box-shadow: 4px 8px 16px var(--oc-gray-1);
}

p {
  color: var(--oc-gray-9);
}

#navbar {
  box-shadow: 4px 8px 8px var(--oc-gray-1);
}

nav ul {
  text-align: right;
  position: fixed;
  width: 100%;
  background-color: var(--oc-gray-0);
  border: var(--oc-gray-4);
  /* border-bottom-style: solid; */
  /* border-bottom-width: 1px; */
}

nav ul li {
  display: inline-block;
  margin: 40pt;
  margin-bottom: 15pt;
  margin-top: 15pt;
}

nav ul li a {
  color: var(--oc-gray-9);
  text-decoration: none;
}

nav ul li a:hover {
  color: var(--oc-gray-5);
}

.works .works-header {
  padding: 50pt;
  color: var(--oc-gray-9);
  font-weight: normal;
  margin: auto;
}

.project {
  text-decoration: none;
  color: var(--oc-gray-9);
  display: inline-block;
  overflow: hidden;
  border: 1px solid var(--oc-gray-4);
  height: 155pt;
  width: 200pt;
  margin: 30pt 50pt;
}

.project-pic {
  width: 100%;
  height: 135pt;
  border-bottom: 1px solid var(--oc-gray-4);
}

.project-title {
  font-weight: bold;
}

.show-all {
  text-decoration: none;
  display: block;
  width: 200px;
  height: 30px;
  margin: 50pt auto 50pt;
  background: var(--oc-gray-1);
  color: var(--oc-gray-9);
  font-weight: bold;
  font-size: 1.5em;
  border: 1px solid var(--oc-gray-4);
  border-radius: 4pt;
  cursor: pointer;
  padding: 10pt;
}


.show-all:hover {
  background: var(--oc-white);
  color: var(--oc-gray-7);
}

@media only screen and (max-width: 500px) {
  nav ul {
    text-align: center;
  }

  nav ul li {
    margin: 20pt;
  }

  .project {
    margin: 40pt 0;
  }
}

.contact {
  background: var(--oc-gray-0);
  padding-top: 15pt;
  padding-bottom: 15pt;
  box-shadow: 4px -8px 16px var(--oc-gray-1);
}

.header {
  padding: 160pt 0 110pt;
}

.contact-details {
  display: inline-block;
  font-weight: bold;
  margin: 0 35pt 45pt 35pt;
  list-style-type: none;
  border: 1px solid var(--oc-gray-4);
  border-radius: 100%;
  width: 80pt;
  height: 80pt;
  line-height: 80pt;
  background: var(--oc-gray-1);
  color: var(--oc-gray-9);
  text-decoration: none;
}

.contact-details:hover {
  background: var(--oc-white);
  color: var(--oc-gray-7);
}

footer {
  padding: 20px;
  background: var(--oc-white);
  color: var(--oc-gray-9);
  line-height: 40px;
  box-shadow: 4px -8px 16px var(--oc-gray-1);
}

footer a {
  color: var(--oc-gray-7);
}

@media only screen and (max-width: 367px) {

  .contact-details {
    border: 1px solid var(--oc-gray-0);
    border-radius: 0;
    width: 90px;
    height: 20px;
    padding: 10px;
    line-height: normal;
  }
}